# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist/
build/
*.so

# Logs
logs/
*.log

# Environments
.env

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/